#root {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

#root .card {
    display: flex;
    flex-grow: 1;
    flex-basis: calc(33% - 10px);
    flex-basis: 25%;
    flex-direction: column;
    border: 2px black solid;
    padding: 15px;
}

